html, body {
    position: relative;
    margin: 0%;
    padding: 0%;
    background-color: black;
    color: white;
    font-optical-sizing: auto;
}
header {
    margin: 0%;
    padding: 30px;
    backdrop-filter: blur(10px);
    max-width: 100%;

}
header * {
    margin-top: 0%;
}

footer {
    margin-top: 20px;
    backdrop-filter: blur(10px);
    max-width: 100%;
    padding: 20px;
    text-align: center;
}
footer a {
    color: white;
}

h1 {
    font-size: 50px;
}
a:hover {
    cursor: pointer;
}

#terminal {
    padding: 20px;
    white-space: pre-wrap;
    color: lime;
    background-color: rgba(45, 49, 76, 0.521);
    backdrop-filter: blur(10px);
    max-height: 500px;
    width: 100%;
    overflow: auto;
    border: 5px solid rgb(45, 49, 76);
    border-radius: 30px;
}
#terminal a {
    color: lime;
}

.workplace {
    backdrop-filter: blur(10px);
    border: 3px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    margin: 50px;
    position: absolute;
    right: 0%;
    top: 0%;
}

.windowInfo {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    backdrop-filter: blur(10px);
    border-bottom: 3px solid rgb(0, 0, 0);
    padding: 10px;
    gap: 5px;
    background-color: rgba(27, 31, 31, 0.5);
    display: flex;
}
.windowInfo #button {
    height: 12px;
    width: 12px;
    border-radius: 50%;
}

.windowInfo .button1 {
    background-color: rgb(252, 70, 70);
}
.windowInfo .button2 {
    background-color: rgb(252, 176, 37);
}
.windowInfo .button3 {
    background-color: rgb(34, 173, 41);
}

#typewriter {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 20px;
    width: 500px;
    height: 150px;
    background-color: rgba(27, 31, 31, 0.5);
    white-space: nowrap;
    overflow: hidden;
    font-family: monospace;
    backdrop-filter: blur(10px);
    /*#000000BD*/
}

section {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 70px;
    gap: 70px;
}

canvas {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; 
}
.content {
    margin: 0%;
    position: absolute;
    height: 100%;
    width: 100%;
}

.linkBar {
    padding: 10px;
    margin: 0%;
    display: flex;
    max-width: 100%;
}

.languages {
    width: 100%;
    display: flex;
    gap: 10px;
}
.languages img {
    width: 30px;
}

.discord, .github {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 8px;
    padding: 10px;
    transition: background-color 0.3s ease, width 0.5s ease;
    overflow: hidden;
    min-width: 50px; 
    cursor: pointer;
    gap: 10px;
}

.discord img, .github img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
    margin-left: 0%;
    margin-right: 0%;
}

.discord:hover {
    background-color: rgb(71, 73, 241);
    width: auto;
}

.github:hover {
    background-color: black;
    width: auto;
}

.discord:hover img, .github img {
    transform: scale(1.05);
}

/*Mobile version*/ 

@media (max-width: 650px) {
    .workplace {
        display: none;
    }

    header {
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    .languages {
        justify-content: center;
        align-items: center;
    }
    footer {
        margin-top: 20px;
    }

    #terminal {
        justify-content: center;
        text-align: left;
        max-width: 80%;
        margin: 0%;
        font-size: 15px;
        max-height: fit-content;
    }

    .discord:hover img, .hover-box2:hover img {
        transform: none;
    }
    
    .discord:hover {
        background-color: rgb(71, 73, 241);
        width: 20px;
    }
    
    .hover-box2:hover {
        background-color: black;
        width: 20px;
    }

    section {
        margin-top: 30px;
        justify-items: center;
        text-align: center;
        align-items: center;
        flex-direction: column;
        padding: 0px;
        gap: 30px;
    }

    .linkBar {
        padding: 5px;
        gap: 5px;
        max-width: 100%;
        justify-content: center;
        text-align: center;
        align-items: center;
        flex-direction: row;
    }

    .linkBar img {
        justify-content: center;
    }
}
